<h1><%= @list.name %></h1>

<%= link_to 'Back', businesses_path %>
<%= link_to 'Delete', list_path(@list),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %>

<table>
   
  <% @list.businesses.each do |business| %>
    <tr>
      <td><%= business.name %></td>
      <td><%= business.status %></td>
      <td><%= business.priority %></td>
      <td><%= business.description %></td>
      <td><%= link_to 'Show', business_path(business) %></td>
      <td><%= link_to 'Edit', edit_business_path(business) %></td>
      <td><%= link_to 'Destroy', business_path(business),
                                  method: :delete,
                                  data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>

</table>


<div id="myDIV" class="header">
  <h2><%= @list.name %></h2>
  <input type="text" id="myInput" placeholder="Title...">
  <span onclick="newElement()" class="addBtn">Add</span>
</div>

<ul id="myUL">

  <% @list.businesses.each do |business| %>

  <li>
    <%= business.name %>
    <span class="close"> <%= link_to 'x', business_path(business),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %>
                      </span>
  </li>

  <% end %>
</ul>