<p>
  <strong>Name:</strong>
  <%= @business.name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @business.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @business.status %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @business.priority %>
</p>


<%= link_to 'Back', businesses_path %>